.env
/node_modules/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
*.log
error_log
*.zip
*.sql
dev3
dev1
dev
dev_bkk