@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@font-face {
    font-family: Kalaimakal;
    src:url("Kalaimakal.ttf");
}
body { text-align:center; }
.content { background:#FFF8F4; width:75%; margin:10px auto; background:url(back.jpg); background-size:100% 100%; padding:10px 20px 0px 20px; }
.place 
{
    color: #302f7d;
    margin-bottom: 5px;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.title { 
	color:#302f7d; 
	font-size:32px;
	margin:0;
}
.top { color:#302f7d; font-weight:bold; font-family: "Kavivanar", cursive; }
.tamil { 
	color:#aa3337; 
	font-family: "Kavivanar", cursive;
	text-align:right;
	font-size:38px;
}
.bday {
    font-size: 102px;
    text-align: center;
	color:#fcf305;
    margin: 10px;
    font-weight: bolder;
	font-family: "Leckerli One", cursive;
	-webkit-text-stroke: 3px #000;
}
p { font-size:19px; margin:0; }
.wish { font-family: "Cookie", cursive; font-size:26px; font-weight:bold; margin-top:25px; color:#302f7d; }
.wish_tamil { 
	font-size:38px; 
	font-family: "Mukta Malar", sans-serif; 
	font-weight:bold;
    margin: 10px;
	color:#FF0000;
	-webkit-text-stroke: 2px #fcf305;
	letter-spacing:-4px;
}
.txt_tamil { font-size:30px; font-family: "Kavivanar", cursive; margin:10px 120px; font-weight:bold; color:#302f7d; }
.name {
    font-size: 32px;
    color: #fff;
    padding: 5px 50px;
}
.bday_txt { margin-left:200px; }




